<footer class="bg-purple-400 dark:bg-purple-400">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="assets/img/logo.jpg" class="h-24 me-3" alt="Logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase dark:text-gray-200">Información</h2>
                    <ul class="text-gray-300 font-medium">
                        <li class="mb-4">
                            <a routerLink="/products" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Productos</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/process-buy" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Proceso de compra</a>
                        </li>
                        <li>
                            <a routerLink="/payment-method" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Métodos de pago</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase dark:text-gray-200">Legal</h2>
                    <ul class="text-gray-300 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a routerLink="/terms-conditions" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Términos y condiciones</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/politic-data" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Política y tratamiento de datos</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-100 uppercase dark:text-gray-200">Acerca de</h2>
                    <ul class="text-gray-300 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a routerLink="/" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Acerca de nosotros</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/blog" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Blog</a>
                        </li>
                        <li>
                            <a routerLink="/frequency-questions" class="hover:underline text-gray-100 dark:text-gray-200 hover:text-white">Preguntas frecuentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-purple-200 sm:mx-auto dark:border-purple-200 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-300 sm:text-center dark:text-gray-200">© 2024 Ningún derecho reservado ❤</span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-300 hover:text-gray-100 dark:hover:text-white ms-5">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 0 20A10 10 0 0 0 10 0Zm0 18.125A8.125 8.125 0 1 1 10 1.875a8.125 8.125 0 0 1 0 16.25Zm0-11.875A2.5 2.5 0 1 0 10 10a2.5 2.5 0 0 0 0-5Zm0 8.75a5.86 5.86 0 0 0-4.062 1.605.625.625 0 1 0 .85.915 4.627 4.627 0 0 1 6.424 0 .625.625 0 1 0 .85-.915A5.877 5.877 0 0 0 10 14Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="#" class="text-gray-300 hover:text-gray-100 dark:hover:text-white ms-5">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M23.994 4.584a10.104 10.104 0 0 1-2.828.776 4.89 4.89 0 0 0 2.188-2.694 9.656 9.656 0 0 1-3.102 1.184A4.895 4.895 0 0 0 16.616 2a4.925 4.925 0 0 0-4.82 5.059 5.081 5.081 0 0 0 .12 1.156A13.918 13.918 0 0 1 1.661 3.156a5.044 5.044 0 0 0-.66 2.563c0 1.763.868 3.319 2.188 4.228a4.716 4.716 0 0 1-2.222-.616v.06c0 2.442 1.684 4.49 3.914 4.946a4.76 4.76 0 0 1-2.212.084c.616 2.019 2.468 3.486 4.664 3.521A9.798 9.798 0 0 1 0 19.718 13.815 13.815 0 0 0 7.554 22c9.054 0 14.01-7.683 14.01-14.354 0-.216-.008-.43-.018-.642a10.096 10.096 0 0 0 2.448-2.538z"/>
                    </svg>
                    <span class="sr-only">Twitter</span>
                </a>
            </div>
        </div>
    </div>
</footer>
